.bg-color {
    background-color: #F4F4F5;
    color: #000;
}

.bg-color.detach {
    background-color: #DFDFDF;
    color: #000;
}

.bg-color.dark {
    background-color: #303133;
    color: #fafafa;
}

.bg-color.dark.detach {
    background-color: #1F1F1F;
    color: #fafafa;
}
